@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Rubik', sans-serif;
    padding: 2px;
}

section {
    overflow: hidden;
}

@layer base {
    h1 {
        @apply text-7xl lg:text-7xl;
        font-weight: 700;
    }

    h2 {
        @apply text-5xl lg:text-5xl;
        font-weight: 600;
    }
    
    h3 {
        @apply text-2xl lg:text-2xl;
        font-weight: 600;
    }
}